@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.rotate {
    animation: rotate 15s;
    text-align: center;
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }


  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

header {
    background-color: transparent;
    color: white;
    height: 35px;
}

footer {
    height: 50px;
    background: #000000;
    color: #FFFFFF;
}

body {
    background-image:url(th-4068319522.png);

}


h3 {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}


#version {
    border: black 3px solid;
    border-radius: 3px;
}

#pizzastext {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#seperate {
    background-color: rgba(0,0,0,0.5);
    color:  white;
    
}

#incrementButton {
    background-color: transparent;
    border: none;
   
}

#currentCount {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#pizzapersecCounter {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}


#h2fontstylename {
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: black;
}


#h2fontstyleamount {
    font-family: monospace;
    font-size: 13px;
    color: black;
}

#buildingsBtn {
    background-color: white;
    color: black;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding-left: 3px;
    text-align: left;
}

#upgradesBtn {
    border: 3px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#achievementsBtn {
    border: 1px;
    border-radius: 1px;
    background-color: white;
    cursor: pointer;
}

#shdwachievementsBtn {
    border: #663399 3px solid;
    color: #663399;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

#orichalcosshdwachievementsBtn {
    border: #663399 5px solid;
    color: #00ff73;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

#orichalcosupgradesBtn {
    color: #00ff73;
    border: #00ff73 3px solid;
    font-size: 10px;
    border-radius: 5px;
    background-color: wite;
    cursor: pointer;
}


#orichalcosultimateupgradesBtn {
    color: #00ff73;
    border: #00ff73 3px solid;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

#h2orichalcosfontstylename {
    font-family: 'Press Start 2P';
    font-size: 10px;
    color: white;
}

#h2orichalcosfontstyleamount {
    font-family: monospace;
    font-size: 5px;
    color: white;
}

#ImageOne {
    height: 85px;
    width: 85px;
    cursor: pointer;
}

#weaponsupgradeBtn {
    border: brown 5px solid;
    background-color: black;
    cursor: pointer;
    padding: 0;
}

#ImageTwo {
    cursor: pointer;
    background: none;
    height: 400px;
    width: 400px;
    border: none;
}

.cursorImageBtn {
    background-image:url(108-1083744_windows-10-cursor-png-cursor-icon-png-transparent.png)right no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.upgradeImageBtn {
    height: 35px;
    width: 35px;
}

#shopBtn {
    width: 375px;
    height: 60px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#changelogBtn {
    width: 375px;
    height: 60px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#statBtn {
    width: 375px;
    height: 60px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#optionsBtn {
    width: 375px;
    height: 60px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#shopBtn:hover {
    background: black;
    color: white;
}

#changelogBtn:hover {
    background: black;
    color: white;
}

#statBtn:hover {
    background: black;
    color: white;
}

#optionsBtn:hover {
    background: black;
    color: white;
}

#currentPizzas {
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: black; 
}

#currentpps {
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: black; 
}

#pizzasbakedthisascension {
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: black; 
}

#pizzasbakedalltime {
font-family: 'Press Start 2P';
font-size: 15px;
color: black; 
}